## Ignore node.js modules folder ##
/node_modules

## Ignore NetBeans files ##
/.nbinfo
/nbproject

## Ignore Eclipse files ##
.project
.settings
.classpath

## Ignore application workspace ##
/run
/bin
/.tern-project
